script(type="text/template", id="advanced_part_tmpl").
    .part_table#advanced_part_table
    .btn#reset reset
    script(type="text/template",id="part_partial_tmpl").
        -for (var i in disks)
            - disk = disks[i]
            ul.wat-cf.disk(dpath=disk["path"],dnum=i)
                li.vertical
                    a(href="#")= disk["path"]
                    a(href="#")
                        = disk["size"].toFixed(2)
                        = disk["unit"]
                    ul.wat-cf.table
        b= gettext('grubinstall')
        select#grub
            -for(var x = disks.length; x > 0 ; x--)
                -var disk = disks[x-1]
                option(value=disk["path"])= disk["path"]
            option(value="")= gettext('uninstallgrub')
            //option(value="") bootdisk
include primary_part
include logical_part
include extended_part
include free_part
