script(type="text/template", id="advanced_part_tmpl").
    .part_table#advanced_part_table
    .btn#reset= gettext('Reset')
    script(type="text/template",id="part_partial_tmpl").
        -for (var i in disks)
            - disk = disks[i]
            p
                = disk["path"]
                ="("
                = disk["size"].toFixed(2)
                = disk["unit"]
                =")"
            ul.wat-cf.disk(dpath=disk["path"],dnum=i)
        b= gettext('Grub Install At:')
        select#grub
            -for(var x = disks.length; x > 0 ; x--)
                -var disk = disks[x-1]
                option(value=disk["path"])= disk["path"]
            option(value="/")= gettext('Boot Partition')
            option(value="")= ""
include primary_part
include logical_part
include extended_part
include free_part
