script(type="text/template", id="advanced_part_tmpl").
    .part_table#advanced_part_table
    script(type="text/template",id="part_partial_tmpl").
        -for (var i in disks)
            - disk = disks[i]
            p
                = disk["path"]
                = "(" + disk["size"].toFixed(2) + disk["unit"]
                = "/"+ disk.type + ")"
            ul.wat-cf.disk(dpath=disk["path"],dnum=i)
        .warninfo
            br
        ul.buttons
            a#reset.smaller.right
                = gettext('Reset')
        hr
        .control-group.form-horizontal
            label.control-label(for="grub")
                = gettext('Grub Install At:')
            .controls
                select#grub
                    -for(var x in disks)
                        -var disk = disks[x]
                        option(value=disk["path"])= disk["path"]
                    option(value="/")= gettext('Boot Partition')
                    option(value="")= gettext('Not install')
include primary_part
include logical_part
include extended_part
include free_part
include edit_part
include create_part
