script(type="text/template", id="create_part_tmpl").
    .modal.fade.hide(id=String(dindex)+String(pindex))
        .modal-header
            button.close(type="button", data-dismiss="modal")×
            h3= gettext('CreateDisk')
        .modal-body.form-horizontal
            div.control-group
                label.control-label(for="parttype")= gettext('PartType')
                .controls
                    select.span3#parttype
                        - if (part.ty == "logical")
                            option(value="logical")= gettext('logical')
                        -else if (type == "gpt")
                            option(value="primary")= gettext('primary')
                        -else
                            option(value="primary")= gettext('primary')
                            option(value="extended")= gettext('extended')
            div.control-group
                label.control-label(for="fs")= gettext('FileSystem')
                .controls
                    select.span3#fs
                        option(value="ext4") ext4
                        option(value="linux-swap(v1)") swap
                        -if (type == "gpt")
                            option(value="bios_grub") bios_grub
            div.control-group
                label.control-label(for="mp")= gettext('MountPoint')
                .controls
                    select.span3#mp
                        option(value="")= ""
                        option(value="/")= "/"
                        option(value="/boot")= "/boot"
                        option(value="/home")= "/home"
                        option(value="/opt")= "/opt"
                        option(value="/root")= "/root"
                        option(value="/usr")= "/usr"
                        option(value="/var")= "/var"
            div.control-group
                label.control-label(for="size")= gettext('Size')+'(GB)'
                .controls
                    input.focused#size(value=(part.size).toFixed(2), start=part.start, end=part.end, psize=(part.size).toFixed(2))
            div.control-group
                .controls
                    label.checkbox
                        input(type="checkbox",disabled,checked)
                        = gettext("Formatted")
        .modal-footer
                button.btn(data-dismiss="modal")= gettext('Close')
                button.btn.btn-primary.js-create-submit(data-dismiss="modal", path=path)= gettext('Submit')

