script(type="text/template", id="create_part_tmpl").
    .modal.fade.hide.in(style="display:block;")
        .modal-header
            button.close(type="button", data-dismiss="modal")×
            h3= gettext('CreateDisk')
        .modal-body
            div.control-group.form-horizontal
                label.control-label(for="size")= gettext('Size')
                .controls
                    input.input-xlarge#size
            div.control-group.form-horizontal
                label.control-label(for="parttype")= gettext('PartType')
                .controls
                    select.span3#parttype
                        option(value="primary")= gettext('primary')
                        option(value="logical")= gettext('logical')
                        option(value="extended")= gettext('extended')
            div.control-group.form-horizontal
                label.control-label(for="fs")= gettext('FileSystem')
                .controls
                    select.span3#fs
                        option(value="ext4") ext4
                        option(value="linux-swap(v1)") swap
            div.control-group.form-horizontal
                label.control-label
                .controls#location
                    label.radio
                        input(type="radio", name="create", id="start", value=start, checked)
                        b= gettext('Alignment To Beginning')
                    label.radio
                        input(type="radio", name="create", id="end", value=end)
                        b= gettext('Alignment To End')
        .modal-footer
                a.btn(href="#", data-dismiss="modal")= gettext('Close')
                a.btn.btn-primary.js-create-submit(href="#", data-dismiss="modal", path=path)= gettext('Submit')
