script(type="text/template", id="easy_part_tmpl").
    .part_table#easy_part_table
        -for (var i in disks)
            - disk = disks[i]
            p.diskinfo
                = disk["path"]
                ="("
                = disk["size"].toFixed(2)
                = disk["unit"]
                =")"
            - var parts = disk["table"]
            ul.wat-cf.disk
                - for (var p in parts)
                    -var part = parts[p]
                    -var ty = part["ty"]
                    -if (part["ty"] == "extended")
                        - continue
                    -if (part["number"]<0)
                        -ty = "free"
                    -var percent = part["size"]*100/disk["size"]
                    li.horizontal(style = "width:" + percent + "%")
                        ul.wat-cf.part(pnum=p,dnum=i,psize=part["size"],pty=ty)
                            li
                                a(href="#")
                                    - if (part["number"] < 0)
                                        ="free"
                                    - else
                                        =part["number"]
                                    ="("
                                    = Number(part["size"]).toFixed(2)
                                    = disk["unit"]
                                    =")"
                                a(href="#")
                                    - if (part["fs"] === "")
                                        br
                                    -else
                                        = part["fs"]
    .warninfo
        br
    table.colorinfo
        tbody
            tr
                td(pty="primary",height="20",width="20")
                td= "primary"
                td(pty="logical",height="20",width="20")
                td= "logical"
                td(pty="free",height="20",width="20")
                td= "free"
                td(pty="select",height="20",width="20")
                td= "selected"
