script(type="text/template", id="logical_part_tmpl").
    li.horizontal.logical(style="width:"+part.percent+"%;")
        button.delete.close(type="button",number=part.number,path=path)×
        ul.selectable.wat-cf.part(number=part.number,pty=part.ty,data-toggle="modal", href="#"+String(dindex)+String(pindex), pindex=pindex, dindex=dindex)
            li
                b
                    = part.ui_path
                b.partmp
            li
                b.partfs
                    = part.fs
                b
                    = " "+part.size + part.unit
