script(type="text/template", id="part_tmpl").
    ul#PartTabs.nav.nav-pills
        li.active
            a#easy(href="#",data-toggle="tab")
                = gettext('Easy')
        li
            a#fulldisk(href="#",data-toggle="tab")
                = gettext('Full Disk')
        li
            a#advanced(href="#",data-toggle="tab")
                = gettext('Advanced')
    table.colorinfo.right
        tbody
            tr
                td(pty="disk",height="15",width="15")
                td= gettext("disk")
                td(pty="primary",height="15",width="15")
                td= gettext("primary")
                td(pty="logical",height="15",width="15")
                td= gettext("logical")
                td(pty="extended",height="15",width="15")
                td= gettext("extended")
                td(pty="free",height="15",width="15")
                td= gettext("free")
                td(pty="select",height="15",width="15")
                td= gettext("selected")
    #part_content
    .modal.fade.hide#myconfirm
        .modal-header
            button.close(type="button", data-dismiss="modal")×
            h3= gettext('Confirm')
        .modal-body
            p.content
                = gettext("You have completed all the configurations and it is about to install the system. The partition selected will be formatted.")
        .modal-footer
                button.btn(data-dismiss="modal")= gettext('Close')
                button.btn.btn-primary.js-confirm(data-dismiss="modal")= gettext('Continue')

include fd_part
include easy_part
include ad_part
