script(type="text/template", id="part_tmpl").
    ul#PartTabs.nav.nav-tabs
        li.active
            a#easy(href="#",data-toggle="tab")
                = gettext('Easy')
        li
            a#fulldisk(href="#",data-toggle="tab")
                = gettext('Full Disk')
        li
            a#advanced(href="#",data-toggle="tab")
                = gettext('Advanced')
    table.colorinfo.right
        tbody
            tr
                td(pty="disk",height="20",width="20")
                td= gettext("disk")
                td(pty="primary",height="20",width="20")
                td= gettext("primary")
                td(pty="logical",height="20",width="20")
                td= gettext("logical")
                td(pty="extended",height="20",width="20")
                td= gettext("extended")
                td(pty="free",height="20",width="20")
                td= gettext("free")
                td(pty="select",height="20",width="20")
                td= gettext("selected")
    #part_content
include fd_part
include easy_part
include ad_part
