script(type="text/template", id="part_tmpl").
    fieldset
        p= gettext('Add a new user:')
        div.control-group.form-horizontal
            label.control-label(for="name")= gettext('name')
            .controls
                input.input-xlarge.js-alphanum#name(type="text", minlength="6", maxlength="20")
                p.help-block= gettext('Only letters, numbers, and underscores.')
        hr
        p= gettext('Password For Root:')
        div.control-group.form-horizontal
            label.control-label(for="password")= gettext('password')
            .controls
                input.input-xlarge.js-required#password(type="password", minlength="6", maxlength="20")
        div.control-group.form-horizontal
            label.control-label(for="confirm-password")= gettext('confirm')
            .controls
                input.input-xlarge.js-confirm#confirm-password(type="password",confirm-data="password")
    script(type="text/template",id="part_partial_tmpl").
        div.control-group#part-table
            div#getpartitions.controls
                div#accordion2.accordion
                    - for (var i in disks)
                        - var disk = disks[i];
                        div.accordion-group
                            div.accordion-heading
                                a.accordion-toggle(data-toggle="collapse", data-parent="#accordion2", href="#collapse"+i)
                                    = disk["path"]
                            div.accordion-body.collapse.in(id="collapse"+i)
                                div.accordion-inner.controls
                                    table.table.table-bordered
                                        thead
                                            tr
                                                th 
                                                th= gettext('Number')
                                                th= gettext('Start(MB)')
                                                th= gettext('End(MB)')
                                                th= gettext('Size(MB)')
                                                th= gettext('parttype')
                                                th= gettext('fs')
                                                th
                                        tbody
                                            - var parts = disk["table"]
                                            - for ( var part in parts )
                                                - var p = parts[part]
                                                tr
                                                    th
                                                        label.radio
                                                            input(type='radio', name="parts", value=disk["path"]+p[0])
                                                    - for (var x in p )
                                                        th
                                                            - if( x > 0 && x < 4)
                                                                = p[x].toFixed(2)
                                                            -else
                                                                = p[x]
                                                    th
                                                        - if(p[0] == -1)
                                                            -var path = disk["path"]
                                                            -path = path.split('/')[2]
                                                            .modal.hide.fade(id="create_"+part + path)
                                                                .modal-header
                                                                    button.close(type="button", data-dismiss="modal")×
                                                                    h3 Edit The New Disk
                                                                .modal-body
                                                                    div.control-group.form-horizontal
                                                                        label.control-label(for="size") Size
                                                                        .controls
                                                                            input.input-xlarge#size
                                                                    div.control-group.form-horizontal
                                                                        label.control-label(for="parttype") PartType
                                                                        .controls
                                                                            select.span3#parttype
                                                                                option(value="primary") primary
                                                                                option(value="logical") logical
                                                                                option(value="extended") extended
                                                                    div.control-group.form-horizontal
                                                                        label.control-label(for="fs") FileSystem
                                                                        .controls
                                                                            select.span3#fs
                                                                                option(value="ext3") ext3
                                                                                option(value="ext4") ext4
                                                                    div.control-group.form-horizontal
                                                                        label.control-label
                                                                        .controls
                                                                            label.radio
                                                                                input(type="radio", name="create_"+part+path, id="beginning", value = p[1], checked)
                                                                                b Alignment To Beginning
                                                                            label.radio
                                                                                input(type="radio", name="create_"+part+path, id="end", value = p[2])
                                                                                b Alignment To End
                                                                .modal-footer
                                                                    a.btn(href="#", data-dismiss="modal") Close
                                                                    a.btn.btn-primary.js-submit(href="#", data-dismiss="modal",for="create_"+part + path) Submit
                                                            a.btn.new(href="#create_"+part+path,data-toggle="modal") create
                                                        - else
                                                            a.btn.delete(devpath=disk["path"],partnumber=p[0],href="#") delete
