script(type="text/template", id="bread_li_tmpl").
    li.mybreadcrumb.category.incomplete(data-stage=name)
        span.survey-process-label= name
        .myicon-container
            .breadcrumb-myicon

script(type="text/template", id="warning_tmpl").
    .alert
        button.close(type="button", data-dismiss="alert") x
        strong= gettext('Warning!')
        = gettext('The mount point has been selected.')

.modal.fade.hide#myalert
    .modal-header
        button.close(type="button", data-dismiss="modal")×
        h3= tr('Alert')
    .modal-body
        p.content
    .modal-footer
            button.btn.js-close(data-dismiss="modal")= tr('Close')
