script(type="text/template", id="primary_part_tmpl").
    li.primary.horizontal(style="width:"+part.percent+"%;")
        button.delete.close(type="button",number=part.number,path=part.path)×
        ul.selectable.wat-cf.part(number=part.number,pty="primary", data-toggle="modal", href="#"+String(dindex)+String(pindex),dindex=dindex,pindex=pindex)
            li
                b
                    = part.path.slice(5) + part.number
                b.partmp
            li
                b.partfs
                    -if(part.fs.match("swap"))
                        = "swap"
                    -else if (part.fs == "")
                        = gettext("Unknow")
                    -else
                        = part.fs
                b
                    = " "+Number(part.size).toFixed(2)
                    = unit
