script(type="text/html", id="userinfo_tmpl").
    fieldset
        p= gettext('Username:')
        div.control-group.form-horizontal
            label.control-label(for="name")= gettext('username')
            .controls
                input.input-xlarge.js-alphanum#name(type="text", minlength="6", maxlength="20")
                p.help-block= gettext('Only letters, numbers, and underscores.')
        hr
        p= gettext('Hostname:')
        div.control-group.form-horizontal
            label.control-label(for="hostname")= gettext('hostname')
            .controls
                input.input-xlarge.js-required#hostname(minlength="6", maxlength="20")
