div
    - for (var i in disks)
        - var disk = disks[i];
        table.table.table-bordered
            thead
                tr
                    th
                    th path
                    th model
                    th type
                    th unit
                    th size
                tr 
                    th
                    th #{disk["path"]}
                    th #{disk["model"]}
                    th #{disk["type"]}
                    th #{disk["unit"]}
                    th #{disk["size"]}
                tr
                    th Number
                    th Start
                    th End
                    th Size
                    th parttype
                    th fs
            tbody
                - var parts = disk["table"]
                - for ( var part in parts )
                    tr
                        - var p = parts[part]
                        - for (var x in p )
                            th #{p[x]}
    
